ul{
    padding: 0;
    margin: 0;
    text-align: center;
    overflow:hidden;
 
    background-color: cornflowerblue;
}

ul li{
    display: inline-block;
    background-color: cyan;
    border: 1px solid red;
    margin:0px 10px 10px 10px;
    padding:15px;
    border-radius: 7px;
    width: 250px;
    font-style:none;
    font-size: 25px;
}

ul li a{
    text-decoration: none;
}
   

.div-2{
    background-color: seagreen;
    display: none;
    position: absolute;
    border:1px solid blue;
    padding-block-end: 7px;
  
   
}
.div-2 a{
    border: 1px solid blue;
    background-color: pink;
    display: block;
    background-color: black;
    padding-block-end: 10px;
    width: 150px;
  
}








.li-2:hover .div-2{
    display: block;
}